/* General */

html {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto',sans-serif;
    font-weight: 300;
    color: #000;
    margin: 0;
    background: #e8e8e8;
}

h1 {
    font-size: 3rem;
    font-weight: 400;
}

.page {
    max-width: 1470px;
    background: #fff;
    margin: 0 auto;
}

/* Navigation */

.nav {
    position: sticky;
    left: 0;
    top: 0;
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #e2e4e6;
    padding: 0 30px;
    box-sizing: border-box;
}

.nav__logo {
    background: #eee;
    height: 37.5px;
    border-radius: 3px;
}

.nav__links {
    list-style: none;
    list-style-type: none;
    font-size: 0.9rem;
    height: 100%;
}

.nav__item {
    margin-left: 30px;
    height: 100%;
    display: inline-block;
}

.nav__link {
    color: #363636;
    font-weight: 500;
    display: flex;
    align-items: center;
    height: 100%;
    text-decoration: none;
}

.nav__link--active {
    border-top: 3px solid #ff5252;
    color: #ff5252!important;
}

.nav__link--cta {
    display: inline-block;
    height: initial;
    font-size: 0.85rem !important;
    font-weight: 400;
    color: #fff !important;
    background: #ff5252;
    border-radius: 50px;
    padding: 7.5px 15px;
}

.nav__link:active {
    color: #363636;
}

.nav__link:visited {
    color: #363636;
}

/* Hero */

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero__title {
    margin: 40px 0 0 0;
    max-width: 800px;
    text-align: center;
    margin-bottom: 0;
    line-height: 1.1;
}

.hero__subtitle {
    margin: 20px 0 0 0;
    color: #8e8e8e;
    font-size: 1.1rem;
}

.hero__cta {
    margin-top: 36px;
}

.hero__button {
    display: inline-block;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 50px;
    padding: 15px 30px;
    cursor: pointer;
    border: 2px solid #ff5252;
}

.hero__button--primary {
    background: #ff5252;
    color: #fff;
    margin-right: 5px;
}

.hero__button--secondary {
    color: #ff5252;
    margin-right: 5px;
}

.hero__image {
    margin-top: 60px;
    background-color: #f0f0f0;
    height: 450px;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

