/* Header */
.header {
    top: 0;
    position: fixed;
    width: 100%;
    max-width: 1470px;
    height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 0 30px;
    box-sizing: border-box;
    box-shadow: 0 -15px 50px -15px rgba(0, 0, 0, 0.5);

    &--left {
        display: flex;
        align-items: center;
        height: 100%;
    }

    &__logo {
        background: #eee;
        height: 37.5px;
        border-radius: 3px;
    }

    &__nav {
        height: 100%;
    }

    &__links {
        height: 100%;
        list-style: none;
        list-style-type: none;
        font-size: 0.9rem;
        padding: 0;
        margin: 0 0 0 30px;
    }

    &__item {
        margin-left: 30px;
        height: 100%;
        display: inline-block;
    }

    &__link {
        color: $text !important;
        font-weight: 500;
        display: flex;
        align-items: center;
        height: 100%;
        text-decoration: none;

        &--active {
            position: relative;
            color: $accent !important;
        }
    }

    &__cta {
        text-decoration: none;
        font-size: 0.85rem;
        font-weight: 400;
        color: #fff !important;
        background: $accent;
        border-radius: 5px;
        padding: 9px 15px;
    }
}