.info {
    margin-top: 60px;
    background: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;

    &__skills {
        display: flex;
    }

    &__block {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 15px;
        flex: 1;
    }

    &__icon {
        width: 60px;
        height: 60px;
        border-radius: 5px;

        &--kine {
            background-image: url("../img/kine.svg");
        }

        &--osteo {
            background-image: url("../img/osteo.svg");
        }

        &--sport {
            background-image: url("../img/sport.svg");
        }

        &--health {
            background-image: url("../img/health.svg");
        }
    }

    &__skill {
        font-weight: 500;
        margin: 24px 0 48px 0;
    }

    &__content {
        text-align: center;
        margin: 0;
    }
}